<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ContinuousAssessmentApp.Properties.Settings.ContinuousAssessmentConnectionString"
            connectionString="Data Source=JMORGAN_SCHULPC;Initial Catalog=ContinuousAssessment;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>